body {
	font-size:0.875rem !important;
}

/*Custom Scrollbar*/

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
			 
::-webkit-scrollbar-track {
	border-radius: 7px;
	background-color: lightgray;
}
			 
::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: gray;
}

/*Buttons*/

.btn-circle {
	border-radius: 20px !important;
}

/*Fonts*/

.ft-14 {
	font-size: 0.875rem !important;
}

.ft-sc {
	font-size: 0.8rem !important;
}

.ft-th {
	font-size: 0.75rem !important;
}

.text-topics {
	color: #555555 !important;
}

/*sticky-footer*/
$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
  }
}


/*Admin*/
.box-admin {
	background-color: white;
	border-radius: 5px;
	border-top: solid 3px;
	border-color: #dddddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

/*Forum*/
.box-shadow {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.bg-topics {
	background-color: #dddddd;
}

.topics {
	border-bottom: solid 1px;
	border-color: #e9e9e9;
}

.reply {
	visibility: hidden;
}

.carma {
	visibility: hidden;
}

.topics:hover .carma {
	visibility: visible;
}

.topics:hover .reply {
	visibility: visible;
}

.replied {
	border-left: solid 5px;
	border-color: #dddddd;
	padding: 5px;
	margin-left: 20px;
}

.javob {
	background-color: #eeeeee;
	border-radius: 5px;
}

.javob .form-control {
	background-color: #eeeeee;
	border: 0px;
	font-size: 0.875rem;
	padding: 0px;
}

/*user*/

.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.nav-tabs .nav-item {
	padding: 0px 0px;
  margin-bottom: 0px;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom: solid 3px;
  border-color: #ffffff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #007BFF;
}

.nav-tabs .nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
  border-bottom: solid 3px;
  border-color: #007BFF;
}

/*Styles*/

.bg-white {
	background-color: #ffffff !important;
}

.list-item {
	margin-bottom: 0.3rem
}

.bg-primary {
	background-color: #007bff;
}

.top-panel {
	background-color: #fafafa !important;
	border-bottom: solid 1px;
	border-color: #eeeeee;
}

.dropdown-index {
	z-index: 1100 !important;
}

.responsible-dropdown {
	width: auto;
	min-width: 5rem;
}

.top-link {
	color: #909090;
	padding: 0.5rem 0.5rem;
}

.top-nav-divider {
	margin: 0.5rem 0.3rem;
	border-right: solid 1px;
	border-color: #eeeeee;
	height: 60%;
}

.main-nav {
	background-color: #ffffff !important;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 1px;
	border-color: #dddddd;
}

.second-nav {
	background-color: #007bff !important;
}

.savat {
	display: none;
}

.sidenav {
	opacity: 0;
	width: 0px;
	display: block;
	height: 100%;
	position: absolute;
	z-index: 2110 !important;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #007bff;
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-left: solid 1px;
	border-color: #0060c7;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: 0.3s;

}

.sidenav-link {
	display: block;
	color: #ffffff;
	padding: 0.5rem 1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sidenav-link:hover {
	background-color: #3094ff;
	color: #ffffff;
	text-decoration: none;
}

.sidenav-link:active, .sidenav-link:visited, .sidenav-link:focus {
	background-color: #1084ff;
}

.side-close {
	color: #ffffff;
	display: block;
	position: absolute;
	top: 0;
	left: 0.5rem;
	padding: 0.5rem; 
}

.back {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: 0;
	z-index: 2100 !important;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s ease-in-out;
	}

.kinds {
	display: none;
	background-color: #238dff;
}

.ins-card {
	border: solid 4px;
	border-color: transparent;
}

.ins-card:hover {
	border: solid 4px;
	border-color: #dddddd;
}

.ins-card:hover figure img{
	opacity: 0.8;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}

.ins-card:hover figure .knop{
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure{
	background-color: black;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

figure img{
	opacity: 0.6;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure .knop{
	position: absolute;
	top: 1;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #007BFF;
	opacity: 0;
	-webkit-transition: all 0.12s linear;
	transition: all 0.12s linear;
	-webkit-transform: translate3d(0, 55px, 0);
	transform: translate3d(0, 55px, 0);
}

figure:hover .knop{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure:hover img{
	opacity: 0.8;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.subscribe {
	background-color: #007BFF;
}

.subs-input {
	border-radius: 25px 0px 0px 25px;
	border: 0px !important;
}

.subs-btn {
	border-radius: 25px;
	border: 0px;
	background-color: #d7d7d7;
	color: #7a7a7a;
}

.footer {
	background-color: #ffffff;
	border-top: solid 1px;
	border-color: #dddddd;
}

.ads {
	background-color: #e9ecef;
}

.ads-img {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.ads-img:hover {
	opacity: .7;
}

.shop_cart {
background-color: #ffffff;
}

.shop_cart:hover {
background-color: #eeeeee;
}

/*Chat*/

.chat-panel {
  height: 512px;
  overflow-y: scroll;
  border: solid 1px;
  border-color: #dddddd;
}

.chat_self_f {
	border-radius: 0px 15px 15px 15px;
	background-color: #C3F6D1;
}

.chat_self {
	border-radius: 15px 15px 15px 15px;
	background-color: #C3F6D1;
}

.chat_u_f {
	border-radius: 15px 0px 15px 15px;
	background-color: #eeeeee;
}

.chat_u {
	border-radius: 15px 15px 15px 15px;
	background-color: #eeeeee;
}

.chat_t {
	background-color: #eeeeee;
	border: solid 1px;
	border-bottom: 0px;
	border-color: #dddddd;
}

.chat_b {
	background-color: #eeeeee;
	border: solid 1px;
	border-top: 0px;
	border-color: #dddddd;
}

.dropdown-cart {
    width: 300px;
    margin-top: 15px;
    left: unset !important;
    right: -40px !important;
}

.cart-item:hover {
	background-color: #eeeeee;
}

.pay:hover {
	opacity: 0.7;
}